<!DOCTYPE html>
<html lang="en">
<head>
    <title>angular 7_1</title>
    <script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"> </script> 
</head>
<body>
    <h1>Using Controller</h1>
    <div ng-app = "myApp" ng-controller="myController">
        First Number: <input type="number" ng-model="firstNumber" />
        <br />
        <br />
        Second Number: <input type="number" ng-model="secondNumber" />
        <br />
        <br />
        Result: 
        <p style="color: blue; font-weight: bold;">{{firstNumber + secondNumber}}</p>
    </div>
    <script type="text/JavaScript">
        var app = angular.module('myApp', []);
        app.controller('myController', function ($scope) {
            $scope.firstNumber = 4;
            $scope.secondNumber = 8;
        });
    </script>
</body>
</html>

