<!DOCTYPE html>
<html lang="en">
<head>
    <title>angular 6_1</title>
    <script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"> </script> 
</head>
<body>
    <h1>Combine Strings</h1>
    <div ng-app = "">
        First String: <input type="text" ng-model="firstString" />
        <br />
        <br />
        Second String: <input type="text" ng-model="secondString" />
        <br />
        <br />
        Result: 
        <p style="color: blue; font-weight: bold;">{{firstString + " " + secondString}}</p>
    </div>
</body>
</html>

